<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gettext('home_title') }}</title>
</head>
<body>
    <h1>{{ gettext('home_header') }}</h1>
    <p>
        {% if g.user %}
            {% if g.user['locale'] == 'fr' %}
                {{ _('logged_in_as', username=g.user['name']) }}
            {% else %}
                {{ _('logged_in_as', username=g.user['name']) }}
            {% endif %}
        {% else %}
            {% if babel.locale == 'fr' %}
                {{ _('not_logged_in') }}
            {% else %}
                {{ _('not_logged_in') }}
            {% endif %}
        {% endif %}
    </p>
</body>
</html>
